{
  "*.{ts,js,json,yml,yaml}": ["prettier --write", "git add"],
  ".{pull_review.kushkirc,lintstagedrc,nycrc,prettierrc}": [
    "prettier --write",
    "git add"
  ],
  "*.ts": ["eslint --fix --ext=ts src", "git add"]
}
